@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth;
}

.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}

.btn-check:active + .btn:focus,
.btn-check:checked + .btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
    box-shadow: none;
}

.title {
    color: #111111;
    font-size: 2.8rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1.45em;
}

/* ===========================================
                Header Section
============================================= */
header {
    border-bottom: 1px solid #f7f7f7;
}

.nav-link {
    color: #333333;
    text-align: center;
    transition: all 0.3s;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link:hover {
    color: #c79541;
    transition: all 0.3s;
}

.navbar-brand img {
    max-height: 60px;
}

/* ===========================================
                Hero Section
============================================= */
.hero {
    height: calc(100vh - 85px);
    width: 100%;
    background: url('../img/hero-white.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: none;
}

.hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    z-index: -1;
}

.spotlight {
    display: none;
    position: absolute;
    background: #ffffff;
    opacity: 0.75;
    border-radius: 50%;
    cursor: none;
    transition: all 0.1s;
    z-index: -1;
}

.hero h1 {
    color: #2d2d2d;
    font-size: 2.9rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    line-height: 1.28;
    text-transform: uppercase;
    cursor: none;
    margin-bottom: 5px;
}

.hero h1::first-line {
    font-size: 3rem;
}

.hero h1 span {
    color: #cea251;
}

.hero p {
    color: #2d2d2d;
    font-size: 1.415rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    cursor: none;
}

/* ===========================================
                About Section
============================================= */
.about {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.about::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background: #fafafa;
    filter: blur(60px);
    opacity: 0.05;
    z-index: -1;
}

.about h2 {
    color: #333333;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 20px 0 35px;
    position: relative;
}

.about h2::after {
    position: absolute;
    content: '';
    bottom: -28px;
    left: 0;
    height: 6px;
    width: 25%;
    background: #cfa350;
    border-radius: 5px;
    transition: all 0.5s;
    opacity: 0.75;
}

.about:hover h2::after {
    width: 35%;
    transition: all 0.5s;
}

/* ===========================================
                CTA Section
============================================= */
.cta {
    overflow: hidden;
    background: #000000 url('../img/cta.jpg') no-repeat;
    background-size: 45%;
    background-position: left center;
    position: relative;
    z-index: 0;
}

.cta::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        280deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
}

.cta .contact {
    padding: 100px 20px 100px 40px;
}

.cta h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.cta .form-control {
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 0;
}

.cta label {
    color: #dddddd;
    font-weight: 300;
    letter-spacing: 1px;
}

.cta button {
    padding: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    transition: all 0.3s;
}

.cta button:hover {
    background: #dbba7c;
    transition: all 0.3s;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 0.75rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: 3rem;
    line-height: 1.25;
}

.form-floating > label {
    padding: 0.75rem;
}

.form-control:focus {
    color: #dbba7c;
    background-color: transparent;
    border-color: #dbba7c;
    outline: 0;
    box-shadow: none;
}

/* ===========================================
              Testimonial Section
============================================= */
.testimonial {
    padding: 100px 0;
}

.testimonial .title {
    text-align: center;
}

.testimonial .review {
    background: #0a0a0a;
    padding: 30px;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    margin: 0 10px;
    cursor: grab;
}

.testimonial .review img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.testimonial .review q {
    color: #ffffff;
    line-height: 1.6;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    display: block;
    transition: all 0.3s;
}

.testimonial .review strong {
    color: #dbba7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    text-align: right;
    text-transform: capitalize;
    display: block;
}

.slick-dots {
    bottom: -40px;
}

.slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    color: #dbba7c;
    transition: all 0.3s;
}

/* ===========================================
              Benefits Section
============================================= */
.benefits {
    padding: 100px 0;
    background: url('../img/benefits-bg.jpg') no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.benefits::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    opacity: 0.75;
    z-index: -1;
}

.benefits .title {
    margin-bottom: 30px;
}

.benefits .item {
    padding: 30px;
    background: #000000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.benefits .item::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 20px solid #ddb874;
    border-radius: 50%;
    transform: translate(50%, -50%);
    transition: all 0.5s;
    opacity: 0.75;
}

.benefits .item:hover::before {
    height: 130px;
    width: 130px;
    transition: all 0.5s;
}

.benefits .item img {
    max-height: 50px;
    margin-bottom: 15px;
}

.benefits .item h3 {
    color: #fafafa;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.benefits .item p {
    color: #fafafa;
    line-height: 1.25;
    letter-spacing: 1px;
    margin: 0;
}

/* ===========================================
               Footer Section
============================================= */
footer {
    padding: 80px 0 0;
}

footer img {
    max-height: 100px;
}

.copyright {
    border-top: 1px solid #eeeeee;
    background: #f5f5f5;
    padding: 30px 0;
    margin-top: 80px;
}

.copyright p {
    color: #333333;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

/* ===========================================
               Responsive Style
============================================= */
@media screen and (max-width: 1200px) {
    .hero h1 {
        font-size: 2.4rem;
    }

    .hero h1::first-line {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.18rem;
    }

    .about h2 {
        font-size: 1.6rem;
    }

    .about:hover h2::after {
        width: 25%;
    }

    .cta h2 {
        font-size: 1.8rem;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 45px;
    }

    .benefits .item h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 992px) {
    .navbar-brand img {
        max-height: 50px;
    }

    .nav-link {
        color: #333333;
        text-align: center;
        transition: all 0.3s;
        padding: 5px 0;
    }

    .title {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }

    .hero h1 br {
        display: none;
    }

    .hero h1,
    .hero h1::first-line {
        font-size: 2rem;
    }

    .hero p {
        font-size: 15px;
    }

    .about {
        text-align: center;
    }

    .about br {
        display: none;
    }

    .about h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .cta::before {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .testimonial .review q {
        font-size: 15px;
    }

    .testimonial .review img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
    .hero {
        height: calc(100vh - 75px);
        background-position: center right;
    }
    .hero::before {
        background: rgba(255, 255, 255, 0.6);
    }
    .hero h1,
    .hero h1::first-line {
        font-size: 1.8rem;
    }
    .hero p {
        width: 80%;
        margin: auto;
    }
    .about {
        padding: 50px 0 15px;
    }
    .about h2 {
        font-size: 1.24rem;
    }

    .about img {
        max-width: 300px;
        margin: auto;
    }

    .cta .contact {
        padding: 70px 30px 70px 30px;
    }

    .cta h2 {
        font-size: 1.5rem;
        line-height: 1.35;
    }

    .testimonial {
        padding: 70px 0;
    }

    .title {
        font-size: 1.8rem;
        margin-bottom: 35px;
    }

    .testimonial .review {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .testimonial .review strong {
        text-align: center;
        line-height: 1.5;
        margin-top: 15px;
    }

    .slick-dots li {
        margin: 0;
    }

    .slick-dots li button:before {
        font-size: 8px;
    }

    .benefits {
        padding: 70px 0;
        background-position: center;
    }

    .benefits .item h3 {
        font-size: 1.2rem;
    }

    footer {
        text-align: center;
    }

    footer img {
        width: 280px;
        margin: auto;
    }

    footer {
        padding: 70px 0 0;
    }

    .copyright {
        padding: 25px 0;
        margin-top: 70px;
    }
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }

    .hero {
        max-height: 400px;
    }

    .hero h1,
    .hero h1::first-line {
        font-size: 1.25rem;
    }

    .hero p {
        width: 100%;
        font-weight: 400;
    }

    .about h2 {
        font-size: 1rem;
    }

    .about img {
        max-width: 180px;
        margin: auto;
    }

    .cta h2 {
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .cta .contact {
        padding: 70px 10px 70px 10px;
    }

    .testimonial .review {
        padding: 30px 20px;
        gap: 15px;
        margin: 0 5px;
    }

    footer {
        padding: 60px 0 0;
    }

    footer img {
        width: 220px;
        margin: auto;
    }

    .copyright {
        padding: 23px 0;
        margin-top: 60px;
    }

    .copyright p {
        font-size: 14px;
    }
}
